.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginForm{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.loginForm h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.loginForm input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.loginForm .errorContainer{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #721c24;
}

.loginForm input[type="submit"]{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    transition: box-shadow 0.3s;
}

.loginForm input[type="submit"]:hover{
    box-shadow: none;
}

.loginForm button:hover{
    box-shadow: none;
}

.loginForm p{
    margin-top: 20px;
    text-align: center;
}

.loginForm p a{
    color: var(--primary-color);
}

.loginForm p a:hover{
    text-decoration: none;
}

