.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary-color);
    color: white;
    padding: 0px 20px;
}

.navBar .logo{
    width: 50px;
    height: 50px;
    flex: 1;
}

.navBar .logo img{
    width: 50px;
}

.navBar .links{
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap:40px;
}
.navBar .links> div{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    transition: all 0.3s ease;
}

.navBar .links> div:hover{
    color: var(--secondary-color);
}