.container .heading:nth-child(2){
    margin-top: 50px;
    width: 100%;
    display: flex;

    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    font-weight: 500;

}

.container .heading div:nth-child(2){
    color: var(--primary-color);
    display: block;
    margin-left: 5px;
}



.categories{
    margin-top: 20px;
    display: flex;
    width: auto;
    padding: 0 10px;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.scrollableContainer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.scrollableContainer .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    display: flex;

    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    font-weight: 500;
}

.scrollableContainer .heading .icon{
    color: var(--primary-color);
    display: block;
    margin-left: 20px;
}

.scrollableContainer{
    width: 100%;
}


.scrollableContainer .recipeContainer{
    max-width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
}

.scrollableContainer .recipeContainer .icon{
    color: var(--grey-text);
    font-size: 1.5rem;
    cursor: pointer;

}

.scrollableContainer .recipeContainer .icon:hover{
    color: var(--primary-color);
}

.scrollableContainer .recipeContainer .list{
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
    cursor: pointer;
}

.scrollableContainer .recipeContainer .list .elements{
    display: flex;
    flex-direction: row;
    gap:20px;
}