.container .heading:nth-child(2){
    margin-top: 50px;
    width: 100%;
    display: flex;

    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    font-weight: 500;

}

.container .heading div:nth-child(2){
    color: var(--primary-color);
    display: block;
    margin-left: 5px;
}



.categories{
    margin-top: 20px;
    display: flex;
    width: auto;
    padding: 0 10px;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.bestRatedRecipes{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.bestRatedRecipes .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    display: flex;

    padding-left: 30px;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    font-weight: 500;
}

.bestRatedRecipes .heading .icon{
    color: var(--primary-color);
    display: block;
    margin-left: 5px;
}

.bestRatedRecipes{
    width: 100%;
}
